@charset "utf-8";

html {
    /* Prevent font scaling in landscape */
   -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/   -moz-text-size-adjust: none; /*Firefox*/
   -ms-text-size-adjust: none;  /*Ie*/
   -o-text-size-adjust: none; /*old versions of Opera*/
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; font-weight:inherit; outline:0;}
ol, ul, dl, li, dt, dd {list-style:none;}

a {text-decoration:none; vertical-align:middle; color:inherit; cursor:pointer;}
a, a:link, a:visited, a:active {color:#000; text-decoration:none;}
caption {overflow:hidden; width:0; height:0; text-indent:-9999px;}

#wrap {width:100%; height:100%; font-family: 'Noto Sans KR', sans-serif; overflow:hidden;}

/* header */
#header {position:relative; width:100%; background:#fff; border-bottom:1px solid #ededed; box-shadow:0px 0px 8px rgba(0,0,0,.1);}
#header.type-fixed {position:fixed; z-index:20}
#header .main-header-wrap {display:flex; flex-direction:row; max-width:952px; margin:0 auto; padding:0 24px; height:68px;}
#header .main-header-wrap .logo-wrap {position:relative; width:160px;}
#header .main-header-wrap .logo-wrap .logo {font-family: 'Shrikhand', serif; font-size:28px; line-height:68px;}
#header .main-header-wrap .logo-wrap .mo-btn {display:none;}

#header .main-header-wrap .main-menu-wrap {display:flex; flex-direction:row; justify-content:center; align-items:center; margin-left:auto;}
#header .main-header-wrap .main-menu-wrap .main-menu .list li {display:inline-block; margin:0 24px;}
#header .main-header-wrap .main-menu-wrap .main-menu .list li a {font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:700; color:#000;}
#header .main-header-wrap .main-menu-wrap .login-wrap {margin-left:100px;}
#header .main-header-wrap .main-menu-wrap .login-wrap a {display:inline-block; padding:4px 16px; border:2px solid #000; font-weight:700; font-size:14px; line-height:normal;}
#header .main-header-wrap .main-menu-wrap .menu-close .btn-close {display:none;}

.main-menu-wrap.mo {transform:translateX(100%); position:fixed; right:0; top:0;}

/* footer */
#footer {position:relative; width:100%; border-top:1px solid #000;}
#footer .footer-wrap {max-width:952px; margin:0 auto; padding:30px 24px;}
#footer .footer-wrap .footer-tit {font-family: 'Shrikhand', serif; font-size:20px; line-height:normal;}
#footer .footer-wrap .flex-box {display:flex; flex-direction:row;}
#footer .footer-wrap .flex-box .cont {display:flex; flex:1; flex-direction:column;}
#footer .footer-wrap .address-box p {font-family: 'Noto Sans KR', sans-serif; font-size:14px; color:#000; line-height:normal;}
#footer .footer-wrap .address-box .info {margin-top:5px;}
#footer .footer-wrap .address-box .info p {font-family: 'Noto main-txt-boxSans KR', sans-serif; font-size:14px; color:#000; line-height:normal;}
#footer .footer-wrap .address-box,
#footer .footer-wrap .family-site {margin-top:10px;}
#footer .footer-wrap .family-site ul li {display:inline-block}
#footer .footer-wrap .family-site ul li + li{margin-left:10px;}
#footer .footer-wrap .family-site ul li a {font-family: 'Noto Sans KR', sans-serif; font-size:14px; color:#000;}

#footer .footer-wrap .terms-box {margin-top:0px;}
#footer .footer-wrap .terms-box {display:flex; flex-direction:row; gap:8px}
#footer .footer-wrap .terms-box a {flex:0 1 auto; font-family: 'Noto Sans KR', sans-serif; font-weight:700; color:#000; padding:10px 20px; border:2px solid #000; box-sizing:border-box; box-shadow: 4px 4px #000;}

br.mo {display:none;}
.blind {font-size:0; line-height:0; width:0; height:0; opacity:0; padding:0; margin:0; border:0;}
.stop-scroll {position:relative; overflow:hidden}
.dimmed {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:30; width:100%; height:auto; background:rgba(0,0,0,.5);}

.info-pop-wrap {position:fixed; z-index: 99999; top:36%; left:50%; transform:translateX(-50%)}
.info-pop-wrap .pop-box {font-family: 'Noto Sans KR', sans-serif; font-size:14px; word-break:keep-all; line-height:normal; display:block; width:200px; background:#fff; padding:20px; border-radius:14px;}
.info-pop-wrap .pop-box button {margin-top:20px; display:block; width:100%; padding:5px 0; font-family: 'Noto Sans KR', sans-serif; font-size:14px; background:#fff; border:2px solid #000;}

/* media query */
@media screen and (max-width:800px) {
    #wrap {overflow:hidden;}
    
    #header .main-header-wrap {flex-direction: column;}
    #header .main-header-wrap .logo-wrap {width:100%;}
    #header .main-header-wrap .logo-wrap .mo-btn {position:absolute; top:50%; right:0; transform:translate(0%, -50%); display:block; width:32px; height:32px; background:url('../images/ico_menu_64.png') center center / 20px auto no-repeat; border:0 none; font-size:0; line-height:0;}

    #header .main-header-wrap .main-menu-wrap {display:none}
   
    .main-menu-wrap.mo {display:flex; flex-direction:column; align-items:flex-start; transform:translateX(100%); position:fixed; top:0; right:0; z-index:100; width:calc(100vw - 170px); height:calc(100vh - 100px); background:#fff; padding:60px 24px 40px 24px; transition:all .5s ease-in-out; overflow-y:scroll; overflow-x:hidden;}
    .main-menu-wrap.mo.on {transform:translateX(0%); box-shadow:12px 0px 28px 5px rgba(0,0,0,.6)}
    .main-menu-wrap.mo .main-menu {flex:1; height:100%;}
    .main-menu-wrap.mo .main-menu .list li {display:block; font-size:18px; font-weight:700; margin:0 0;}
    .main-menu-wrap.mo .main-menu .list li:nth-child(1) {position:relative; z-index:1;}
    .main-menu-wrap.mo .main-menu .list li:nth-child(1) a {position:relative; z-index:1; padding:0 3px 0}
    .main-menu-wrap.mo .main-menu .list li:nth-child(1):after {content:''; position:absolute; left:0; bottom:-4px; z-index:0; width:100%; height:10px; background:#c9ff72;}
    .main-menu-wrap.mo .main-menu .list li + li {margin-top:28px; font-size:18px; font-weight:700;}
    .main-menu-wrap.mo .menu-close .btn-close {display:block; position:absolute; top:20px; right:20px; width:20px; height:20px; font-size:0; line-height:0; background:url('../images/ico_close_64.png') right center / 20px auto no-repeat;}
    
    .main-menu-wrap.mo .login-wrap {margin:auto 0 0 auto;}
    .main-menu-wrap.mo .login-wrap a {display:inline-block; padding:4px 16px; border:2px solid #000; font-weight:700; font-size:14px; line-height:normal;}

    #footer .footer-wrap .flex-box {display:flex; flex-direction:column; gap:20px 0;}
    #footer .footer-wrap .flex-box .cont {display:flex; flex:1; flex-direction:column;}
    #footer .footer-wrap .terms-box {display:flex; flex-direction:column;}
    #footer .footer-wrap .terms-box a {flex:0; font-family: 'Noto Sans KR', sans-serif; font-weight:700; color:#000; padding:10px 20px; border:2px solid #000; box-sizing:border-box; box-shadow: 4px 4px #000;}
    #footer .footer-wrap .family-site {margin-top:10px;}
    #footer .footer-wrap .family-site ul li a {font-size:14px;}

    br.mo {display:block;}
    .info-pop-wrap {position:fixed; z-index: 99999; top:26%; left:50%; transform:translateX(-50%)}
}