@charset "utf-8";

/* reset */
a {text-decoration:none; vertical-align:middle; color:inherit; cursor:pointer;}
a, a:link, a:visited, a:active {color:#000; text-decoration:none;}
caption {overflow:hidden; width:0; height:0; text-indent:-9999px;}

#wrap {width:100%; height:100%; font-family: 'Noto Sans KR', sans-serif;}

/* header */
#header {position:relative; width:100%; border-bottom:1px solid #ddd;}
#header .main-header-wrap {display:flex; flex-direction:row; max-width:952px; margin:0 auto; padding:0 24px; height:68px;}
#header .main-header-wrap .logo-wrap {position:relative; width:160px;}
#header .main-header-wrap .logo-wrap .logo {font-family: 'Shrikhand', serif; font-size:28px; line-height:68px;}
#header .main-header-wrap .logo-wrap .mo-btn {display:none;}

#header .main-header-wrap .main-menu-wrap {display:flex; flex-direction:row; justify-content:center; align-items:center; margin-left:auto;}
#header .main-header-wrap .main-menu-wrap .main-menu .list li {display:inline-block; margin:0 24px;}
#header .main-header-wrap .main-menu-wrap .main-menu .list li a {font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:700; color:#000;}
#header .main-header-wrap .main-menu-wrap .login-wrap {margin-left:100px;}
#header .main-header-wrap .main-menu-wrap .login-wrap a {display:inline-block; padding:4px 16px; border:2px solid #000; font-weight:700; font-size:14px; line-height:normal;}

/* custom style */
.blind {font-size:0; line-height:0; width:0; height:0; opacity:0; padding:0; margin:0; border:0;}

/* main*/
#main {padding:60px 0 60px;}
#section1 {display:block; width:min(100%, 800px); margin:0 auto;}
#section1 .container {position:relative; padding:0 24px;}
#section1 .container .top-box {padding:0 0 60px; border-bottom:1px solid #ddd;}
#section1 .container .top-box .top-tit {font-size:38px; font-weight:700; line-height:normal;}
#section1 .container .top-box .top-desc {font-size:18px; font-weight:400;}
#section1 .container .top-box .top-tit + .top-desc {margin-top:20px;}

#section1 .container .input-box .wrap {padding:60px 0 0;}
#section1 .container .input-box .wrap .tit {font-size:28px; font-weight:700; line-height:normal; margin-bottom:30px;}

#section1 .container .input-box .wrap .row {display:flex; align-items: center; flex-wrap: wrap; gap:10px;}
#section1 .container .input-box .wrap .row + .row {margin-top:10px;}
#section1 .container .input-box .wrap .row .selc-type {flex:1 1 auto;}
#section1 .container .input-box .wrap .row .selc-type input[type="radio"] {position:absolute; left:0; top:0; width:0; height:0; line-height:0;}
#section1 .container .input-box .wrap .row .selc-type label {display:block; position:relative; padding:20px 0; font-size:22px; font-weight:700; text-align:center; background:#fff; border:1px solid #d9d9d9; box-sizing:border-box; border-radius:8px;}
#section1 .container .input-box .wrap .row .selc-type input[type="radio"]:checked + label {border-width:0;}
#section1 .container .input-box .wrap .row .selc-type input[type="radio"]:checked + label:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; border:3px solid #000; box-sizing:border-box; border-radius:8px;}

#section1 .container .input-box .wrap .terms-box input[type="checkbox"] {position:absolute; left:0; top:0; width:0; height:0; line-height:0;}
#section1 .container .input-box .wrap .terms-box #all[type="checkbox"] + label {font-size:20px; font-weight:700; line-height:1.6; padding-left:28px; background:url('../images/ico_check_off_32.png') left center / 20px auto no-repeat;}
#section1 .container .input-box .wrap .terms-box #all[type="checkbox"]:checked + label {background:url('../images/ico_check_on_32.png') left center / 20px auto no-repeat;}
#section1 .container .input-box .wrap .terms-box .terms-list-box {position:relative; background:#f7f9f9; padding:14px 12px; margin-top:8px;}
#section1 .container .input-box .wrap .terms-box .terms-list label {font-family: 'Noto Sans KR', sans-serif; font-size:16px; line-height:1.6; padding-left:20px; background:url('../images/ico_check_off_24.png') left center / 16px auto no-repeat;}
#section1 .container .input-box .wrap .terms-box input[type="checkbox"]:checked + label {background:url('../images/ico_check_on_24.png') left center / 16px auto no-repeat;}
#section1 .container .input-box .wrap .terms-box .terms-list + .terms-list {margin-top:6px;}
#section1 .container .input-box .wrap .terms-box .terms-list {display:flex; align-items: center;}
#section1 .container .input-box .wrap .terms-box .terms-list a {font-size:0; line-height:0; width:16px; height:16px; margin-left:auto; background:url('../images/ico_arr_right_36.png') center center / 16px auto no-repeat; opacity:0.6;}

#section1 .btn-wrap {display:flex; align-content:center; justify-content:center; margin-top:100px;}
#section1 .btn-wrap .btn.apply {font-size:22px; font-weight:700; color:#000; padding:20px 82px 20px 50px; background:url('../images/ico_arr_64.png') right 20px center / 32px auto no-repeat; border:3px solid #000;}

/* list style */
.bl1, .bl2, .numl {margin-top:5px;}
.bl1 li, .bl2 li, .numl li {position:relative; padding-left:12px; font-family: 'Noto Sans KR', sans-serif; font-size:15px; font-weight:400; line-height:normal;}
.bl1 li + li, .bl2 li + li, .numl li + li {margin-top:3px;}
.bl1 li:before {content:''; position:absolute; left:0; top:9px; width:3px; height:3px; border-radius:100%; background:#333;}
.bl2 li:before {content:''; position:absolute; left:0; top:11px; width:6px; height:1px; background:#333;}
.numl li {padding-left:20px; text-indent:-20px;}

/* layer popup */
.stop-scroll {position:relative; overflow:hidden}
.dimmed {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:10; width:100%; height:auto; background:rgba(0,0,0,.3);}

.lpop-wrap {display:none; position:fixed; z-index:100; top:50%; left:50%; transform:translate(-50%, -50%); width:600px; background:#fff; border-radius:20px; box-sizing:border-box;}
.lpop-wrap .lpop-header {display:flex; flex-direction:row; align-items:center; padding:20px 20px; border-radius:20px 20px 0 0; border-bottom:1px solid #000;}
.lpop-wrap .lpop-header .lpop-tit {font-family: 'Noto Sans KR', sans-serif; font-size:22px; font-weight:700; line-height:normal;}
.lpop-wrap .lpop-header .btn-close {margin-left:auto; width:20px; height:20px; font-size:0; line-height:0; background:url('../images/ico_close_64.png') right center / 20px auto no-repeat;}

.lpop-wrap .lpop-body {padding:20px 24px; border-radius:0 0 20px 20px; height:500px; overflow-y:scroll;}
.lpop-wrap .lpop-body .lpop-tit {font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:700; line-height:normal; margin:30px 0 0;}
.lpop-wrap .lpop-body .lpop-tit:first-child {margin-top:0px;}
.lpop-wrap .lpop-body .lpop-desc {font-family: 'Noto Sans KR', sans-serif; font-size:16px; font-weight:400; line-height:normal; margin:8px 0 0; word-break:keep-all;}
.lpop-wrap .lpop-body .txt-tab {padding-left:20px; text-indent:-20px;}

.lpop-wrap .lpop-btn-box {display:flex; padding:20px 0 30px; justify-content:center;}
.lpop-wrap .lpop-btn-box .btn.agree {padding:8px 30px; font-family: 'Noto Sans KR', sans-serif; border:3px solid #000; border-radius:8px; font-size:18px; color:#000; font-weight:700; line-height:normal;}
.lpop-wrap .lpop-btn-box .btn.agree:hover {background:rgba(0,0,0,.1);}

/* table style */
table.lpop-tb-type1 {margin: 10px 0 16px; width: 100%; table-layout: fixed;}
table.lpop-tb-type1 th, table.lpop-tb-type1 td {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; line-height:normal; color: #333; border: 1px solid #ddd; border-top: none; text-align: center; vertical-align: middle; padding: 12px 4px;}
table.lpop-tb-type1 tr.row01 th, table.lpop-tb-type1 tr.row01 td {border-top: 2px solid #333;}
table.lpop-tb-type1 th {font-weight: 700;}
table.lpop-tb-type1 th:first-child, table.lpop-tb-type1 td:first-child {border-left: none;}
table.lpop-tb-type1 th:last-child, table.lpop-tb-type1 td:last-child {border-right: none;}

/* footer */
#footer {position:relative; width:100%; border-top:1px solid #000;}
#footer .footer-wrap {max-width:952px; margin:0 auto; padding:30px 24px;}
#footer .footer-wrap .footer-tit {font-family: 'Shrikhand', serif; font-size:20px; line-height:normal;}
#footer .footer-wrap .adress-box p {font-family: 'Noto Sans KR', sans-serif; font-size:14px; color:#000; line-height:normal;}
#footer .footer-wrap .adress-box .info {margin-top:5px;}
#footer .footer-wrap .adress-box .info p {font-family: 'Noto Sans KR', sans-serif; font-size:14px; color:#000; line-height:normal;}
#footer .footer-wrap .adress-box,
#footer .footer-wrap .family-site {margin-top:20px;}
#footer .footer-wrap .family-site ul li {display:inline-block}
#footer .footer-wrap .family-site ul li + li{margin-left:10px;}
#footer .footer-wrap .family-site ul li a {font-family: 'Noto Sans KR', sans-serif; font-size:16px; color:#000;}

#footer .footer-wrap .terms-box {margin-top:20px;}
#footer .footer-wrap .terms-box {display:flex; flex-direction:row; gap:8px}
#footer .footer-wrap .terms-box a {flex:0 1 auto; font-family: 'Noto Sans KR', sans-serif; font-weight:700; color:#000; padding:10px 20px; border:2px solid #000; box-sizing:border-box; box-shadow: 4px 4px #000;}

br.mo {display:none;}

/* media query */
@media screen and (max-width:800px) {
    #main {padding:40px 0 40px;}

    #header .main-header-wrap .logo-wrap {width:100%;}
    #header .main-header-wrap .logo-wrap .mo-btn {position:absolute; top:50%; right:0; transform:translate(0%, -50%); display:block; width:32px; height:32px; background:url('../images/ico_menu_64.png') center center / 20px auto no-repeat; border:0 none; font-size:0; line-height:0;}

    #header .main-header-wrap .main-menu-wrap {display:none;}

    #header .mo-menu-wrap {transform:translateX(100%); position:absolute; top:0; right:0; z-index:100; width:calc(100% - 120px); height:calc(100vh - 100px); background:#fff; padding:60px 0 40px 24px; transition:all .5s ease-in-out;}
    #header .mo-menu-wrap.on {transform:translateX(0%); box-shadow:12px 22px 28px 0px #000;}
    #header .mo-menu-wrap .mobile-menu {height:100%;}
    #header .mo-menu-wrap .mobile-menu .list li {font-size:18px; font-weight:700;}
    #header .mo-menu-wrap .mobile-menu .list li + li {margin-top:28px; font-size:18px; font-weight:700;}
    #header .mo-menu-wrap .menu-close .btn-close {position:absolute; top:20px; right:20px; width:20px; height:20px; font-size:0; line-height:0; background:url('../images/ico_close_64.png') right center / 20px auto no-repeat;}
    
    #header .mo-menu-wrap .login-wrap {position:absolute; right:20px; bottom:40px;}
    #header .mo-menu-wrap .login-wrap a {display:inline-block; padding:4px 16px; border:2px solid #000; font-weight:700; font-size:14px; line-height:normal;}

    #section1 .container .top-box {padding:0 0 40px; border-bottom:1px solid #ddd;}
    #section1 .container .top-box .top-tit {font-size:30px; font-weight:700; line-height:normal;}
    #section1 .container .top-box .top-desc {font-size:16px; font-weight:400;}
    #section1 .container .input-box .wrap {padding:30px 0 0;}
    #section1 .container .input-box .wrap .tit {font-size:22px; margin-bottom:20px;}
    #section1 .btn-wrap {display:flex; align-content:center; justify-content:center; margin-top:60px;}
    #section1 .btn-wrap .btn.apply {font-size:18px; font-weight:700; color:#000; padding:20px 60px 20px 30px; background:url('../images/ico_arr_64.png') right 16px center / 20px auto no-repeat; border:3px solid #000;}

    #footer .footer-wrap .terms-box {display:flex; flex-direction:column;}
    #footer .footer-wrap .terms-box a {flex:0; font-family: 'Noto Sans KR', sans-serif; font-weight:700; color:#000; padding:10px 20px; border:2px solid #000; box-sizing:border-box; box-shadow: 4px 4px #000;}

    .lpop-wrap {display:none; position:fixed; z-index:100; top:0; left:0; right:0; bottom:0; width:100%; height:100%; transform:translate(0, 0); background:#fff; border-radius:0;}
    .lpop-wrap .lpop-header {border-radius:0 0 0 0;}
    .lpop-wrap .lpop-header .lpop-tit {font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:700; line-height:normal;}
    .lpop-wrap .lpop-body {height:calc(100vh - 200px); border-radius:0 0 0 0;}
    .lpop-wrap .lpop-body .lpop-tit {font-family: 'Noto Sans KR', sans-serif; font-size:16px; font-weight:700; line-height:normal; margin:30px 0 0;}
    .lpop-wrap .lpop-body .lpop-desc {font-family: 'Noto Sans KR', sans-serif; font-size:15px; font-weight:400; line-height:normal; margin:8px 0 0; word-break:keep-all;}

    br.mo {display:block;}
}